data/
models/
full_models/
test.tar
checkpoint
custom_inceptionv3_cifar10.hdf5
inception_v3_custom_cifar10.ckpt.data-00000-of-00001
inception_v3_custom_cifar10.ckpt.index
inceptionv3_cifar10.hdf5
se_inception_v3_custom_cifar10.ckpt.data-00000-of-00001
se_inception_v3_custom_cifar10.ckpt.index
se_inceptionv3_best.hdf5
se_inceptionv3_cifar10.hdf5
se_inceptionv3_cifar100_best.hdf5
tesstttt.ckpt.data-00000-of-00001
tesstttt.ckpt.index
test.hdf5
test.png
img/inception__cifar10_plot.png
utils/__pycache__/evaluate_model.cpython-36.pyc
utils/__pycache__/SE_inception_v3.cpython-36.pyc
utils/__pycache__/train_CIFAR_all.cpython-36.pyc
utils/__pycache__/train_CIFAR_ResNet.cpython-36.pyc
